.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter {
  flex: 1 1 auto;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 180px;
}

.hotKey {
  margin-left: auto;
}
